<form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
    <input
        formControlName="username"
        placeholder="Email Address"
        type="text"
        class="form-control">
    <input
        formControlName="password"
        placeholder="Password"
        type="password"
        class="form-control">
    <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
    <div class="text-center">
        <p>Not a member? <a href="/register">Register</a></p>
    </div>
</form>
