@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Virtual Library.</h1>
    <p>Please register or login to continue.</p>
</div>
