html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.notAvailable {
    border: 2px solid black;
    color: black;
    background-color: red;
    max-width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.available {
    border: 2px solid black;
    color: black;
    background-color: forestgreen;
    max-width: fit-content;
    padding: 5px;
    border-radius: 5px;
}