html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.notAvailable {
    display: flex;
    border: 2px solid black;
    color: black;
    background-color: lightcoral;
    max-width: fit-content;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.notAvailable.disabled {
    display: flex;
    border: none;
    color: lightslategrey;
    background-color: white;
    max-width: fit-content;
    padding: 5px;
    text-decoration: none;
}

.available {
    display: flex;
    border: 2px solid black;
    color: black;
    background-color: lightgreen;
    max-width: fit-content;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.confirm {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    /*height: 100%;*/
}

.UpdateLink {
    display: flex;
    justify-content: center;
}