.header {
    margin-bottom: 1em;
}

.createBtn {
    border-radius: 1em;
    background-color: greenyellow;
    font-weight: bolder;
    padding: .5em;
}

.rows {
    border-bottom: solid rgb(237, 236, 236) .025em;
}

.editBtnsDiv {
    display: flex;
    align-items: center;
}

.editBtn {
    border-radius: .35em;
    color: greenyellow;
    background-color: black;
    font-weight: 600;
    padding: .15em;
    margin: .5em;
}

.tableheader {
    border-bottom: 1px solid black;
}